<h1>Create a New Team</h1>

<form action="/teams" method="post">
  <p>
    <label for="team_sport_id">Choose a Sport</label>
    <select id="team_sport_id" name="team[sport_id]">
      <% Sport.all.each do |sport| %>
        <option value="<%= sport.id %>"><%= sport %></option>
      <% end %>
    </select>
  </p>

  <p>
    <label for="team_season_id">Choose a Season</label>
    <select id="team_season_id" name="team[season_id]">
      <% Season.all.each do |season| %>
        <option value="<%= season.id %>"><%= season %></option>
      <% end %>
    </select>
  </p>

  <input type="submit" value="Create Team">
</form>
