<% if logged_in? %>
  <h1>Welcome, <%= current_user.name %>!</h1>
  <br><br>
<% else %>
<h3>Login</h3>
  <form action="/login" method="POST">
    <input type="text" name="email" placeholder="Email:">
    <input type="password" name="password" placeholder="Password:">
    <input type="submit" value="Log In">
  </form><br>

<h5>New to our site?</h5>
  <p>
    <a href="/signup">Click here to sign up!</a>
  </p>
<%end%>
