  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>sports break</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/stylesheets/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="/stylesheets/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  </head>
  <body>
    <nav class="light-blue lighten-1" role="navigation">
      <div class="nav-wrapper container"><a id="logo-container" href="/teams" class="brand-logo">sports break</a>
        <ul class="right hide-on-med-and-down">
        </ul>

        <ul id="nav-mobile" class="sidenav">
          <li><a href="#">Navbar Link</a></li>
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      </div>
    </nav>
    <div class="section no-pad-bot" id="index-banner">
      <div class="container">
        <br><br>
        <h1 class="header center orange-text"><%= @title %></h1>
        <div class="row center">
          <% if flash.has?(:message) %>
            <%= flash[:message] %>
          <% end %>

          <%= yield %>
        </div>
      </div>
    </div>


    <div class="container">
      <div class="section">



      </div>
      <br><br>
    </div>

    <footer class="page-footer blue-grey">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">What We Do</h5>
            <p class="grey-text text-lighten-4">We are here to help you dive deep into fandom of your favorite athletic program.  Create an account to help yourself stay organized as you keep track of your favorite athletes over the years!</p>


          </div>
          <div class="col l3 s12">
            <h5 class="white-text">Archives</h5>
            <ul>
              <li><a class="white-text" href="/teams">All Teams</a></li>
              <li><a class="white-text" href="/athletes">All Athletes</a></li>
            </ul>
          </div>
          <div class="col l3 s12">
            <h5 class="white-text">Connect</h5>
            <ul>
              <% if logged_in? %>
              <li><a class="white-text" href="/logout">Log Out</a></li>
              <% else %>
              <li><a class="white-text" href="/login">Log In</a></li>
              <% end %>
              <li><a class="white-text" href="/signup">Create Account</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          <a class="blue-grey-text text-lighten-3" href="http://materializecss.com"></a>
        </div>
      </div>
    </footer>


    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="js/materialize.js"></script>
    <script src="js/init.js"></script>

    </body>
  </html>
